[submodule "honey-tree-basic-boilerplate"]
	path = honey-tree-basic-boilerplate
	url = https://github.com/sahithyandev/honey-tree-basic-boilerplate
[submodule "honey-tree-react-boilerplate"]
	path = honey-tree-react-boilerplate
	url = https://github.com/sahithyandev/honey-tree-react-boilerplate
